<% if (item.image) { %>
  <img width="200" height="200" src="<%= item.src3x %>" class="img">
<% } else { %>
  <table border="0" cellpadding="0" cellspacing="0" class="table-with-icon">
    <tbody>
      <tr>
        <td class="td-with-icon">
          <img width="100" height="100" src="<%= item.src2x %>" class="img">
        </td>
      </tr>
    </tbody>
  </table>
<% } %>
