<tr>
  <td rowspan="2" colspan="2" class="td-cell-2x">
    <%- include('/partials/item2x.ejs', { item: items[0] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[1] }) %>
  </td>

  <td class="td-cell-1x">
    <%- include('/partials/item1x.ejs', { item: items[2] }) %>
  </td>
</tr>

<tr></tr>
