<tr>
  <td colspan="3" class="td-icon-top"></td>
</tr>

<tr>
  <td class="td-icon-left"></td>
  <td class="td-icon-wrapper">
    <img width="120" height="120" src="<%= item.src3x %>" class="img">
  </td>
  <td class="td-icon-right"></td>
</tr>

<tr>
  <td colspan="3" class="td-icon-name-wrapper">
    <a href="#" class="a-icon-name" target="_blank"><%= item.filename %></a>
  </td>
</tr>
