<tr>
  <td class="td-main-content-wrapper">

    <!-- INNER START -->
    <a class="a-inner-wrapper" href="#" target="_blank">
      <img width="400" height="330" src="<%= item.src3x %>" class="img">
    </a>
    <!-- INNER END -->

  </td>
</tr>
